samples/msexcel/flow.json
[{"id":"1de56abf.7107d5","type":"tab","label":"Read Rows","disabled":false,"info":""},{"id":"7bf56954.031d98","type":"tab","label":"Read Cols","disabled":false,"info":""},{"id":"464888ac.c54268","type":"tab","label":"Read Region","disabled":false,"info":""},{"id":"9b9650a0.69107","type":"tab","label":"Write Rows","disabled":false,"info":""},{"id":"ec713e04.229cc","type":"tab","label":"Variable Testing","disabled":false,"info":""},{"id":"81d3be90.4d553","type":"read-excel","z":"1de56abf.7107d5","name":"Read Single Row","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"rows","sheet":"Sheet1","sheetType":"str","rows":"1","rowsType":"str","cols":"C","colsType":"str","region":"A1:B2","regionType":"str","asjson":true,"asis":"false","useLabel":"false","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":315,"y":102,"wires":[["470b3a41.98bb74"]]},{"id":"eea61482.ad11b8","type":"inject","z":"1de56abf.7107d5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122,"y":64,"wires":[["81d3be90.4d553"]]},{"id":"470b3a41.98bb74","type":"debug","z":"1de56abf.7107d5","name":"","active":true,"console":"false","complete":"false","x":515,"y":66,"wires":[]},{"id":"71d14e41.49f74","type":"catch","z":"1de56abf.7107d5","name":"","scope":null,"x":123,"y":1119,"wires":[["6d2e2174.52557"]]},{"id":"6d2e2174.52557","type":"debug","z":"1de56abf.7107d5","name":"","active":true,"console":"false","complete":"true","x":337,"y":1164,"wires":[]},{"id":"fa88a7fd.d13ef8","type":"read-excel","z":"1de56abf.7107d5","name":"Read Multiple Rows","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"rows","sheet":"Sheet1","sheetType":"str","rows":"1,3,5","rowsType":"str","cols":"C","colsType":"str","region":"A1:B2","regionType":"str","asjson":true,"asis":"false","useLabel":"false","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":327,"y":169,"wires":[["24c98a21.b43786"]]},{"id":"11399d1c.425283","type":"inject","z":"1de56abf.7107d5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":124,"y":131,"wires":[["fa88a7fd.d13ef8"]]},{"id":"24c98a21.b43786","type":"debug","z":"1de56abf.7107d5","name":"","active":true,"console":"false","complete":"false","x":517,"y":133,"wires":[]},{"id":"bcef4597.9efae8","type":"read-excel","z":"1de56abf.7107d5","name":"Read Rows - out JSON","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"rows","sheet":"Sheet1","sheetType":"str","rows":"1,3","rowsType":"str","cols":"C","colsType":"str","region":"A1:B2","regionType":"str","asjson":true,"asis":"false","useLabel":"false","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":332,"y":228,"wires":[["a034126e.41d4b"]]},{"id":"a236710e.b21c3","type":"inject","z":"1de56abf.7107d5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119,"y":190,"wires":[["bcef4597.9efae8"]]},{"id":"a034126e.41d4b","type":"debug","z":"1de56abf.7107d5","name":"","active":true,"console":"false","complete":"false","x":543,"y":195,"wires":[]},{"id":"c32abc79.0d98a","type":"read-excel","z":"1de56abf.7107d5","name":"Read Rows out JSON use column labels","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"rows","sheet":"Sheet1","sheetType":"str","rows":"1,3","rowsType":"str","cols":"C","colsType":"str","region":"A1:B2","regionType":"str","asjson":true,"asis":"false","useLabel":"true","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":378,"y":288,"wires":[["6cce72fb.308a8c"]]},{"id":"af4fcae4.51de38","type":"inject","z":"1de56abf.7107d5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":115,"y":250,"wires":[["c32abc79.0d98a"]]},{"id":"6cce72fb.308a8c","type":"debug","z":"1de56abf.7107d5","name":"","active":true,"console":"false","complete":"false","x":642,"y":256,"wires":[]},{"id":"5a3a18c1.bae498","type":"read-excel","z":"1de56abf.7107d5","name":"Read Rows - out JSON, remove empty rows","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"rows","sheet":"Sheet1","sheetType":"str","rows":"1,3","rowsType":"str","cols":"C","colsType":"str","region":"A1:B2","regionType":"str","asjson":true,"asis":"false","useLabel":"false","removeEmpty":"true","store":"","storeType":"nul","timeout":3000,"x":386,"y":347,"wires":[["9db1b40b.6b31f8"]]},{"id":"f06de86c.e033a8","type":"inject","z":"1de56abf.7107d5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":113,"y":309,"wires":[["5a3a18c1.bae498"]]},{"id":"9db1b40b.6b31f8","type":"debug","z":"1de56abf.7107d5","name":"","active":true,"console":"false","complete":"false","x":661,"y":314,"wires":[]},{"id":"25d9090a.209b96","type":"read-excel","z":"1de56abf.7107d5","name":"Read Rows - out ASIS","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"rows","sheet":"Sheet1","sheetType":"str","rows":"1,3","rowsType":"str","cols":"C","colsType":"str","region":"A1:B2","regionType":"str","asjson":false,"asis":"true","useLabel":"false","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":322,"y":439,"wires":[["9b5ad02f.45d3a"]]},{"id":"46f98289.5f905c","type":"inject","z":"1de56abf.7107d5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117,"y":386,"wires":[["25d9090a.209b96"]]},{"id":"9b5ad02f.45d3a","type":"debug","z":"1de56abf.7107d5","name":"","active":true,"console":"false","complete":"false","x":528,"y":389,"wires":[]},{"id":"e9ef48b2.cc5558","type":"read-excel","z":"7bf56954.031d98","name":"Read Single Column","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"cols","sheet":"Sheet1","sheetType":"str","rows":"1","rowsType":"str","cols":"A","colsType":"str","region":"A1:B2","regionType":"str","asjson":true,"asis":"false","useLabel":"false","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":335,"y":126,"wires":[["7e49ea0d.828ba4"]]},{"id":"4e091606.185018","type":"inject","z":"7bf56954.031d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132,"y":83,"wires":[["e9ef48b2.cc5558"]]},{"id":"7e49ea0d.828ba4","type":"debug","z":"7bf56954.031d98","name":"","active":true,"console":"false","complete":"false","x":525,"y":85,"wires":[]},{"id":"9eaf6b21.fb2aa8","type":"read-excel","z":"7bf56954.031d98","name":"Read Multiple Columns","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"cols","sheet":"Sheet1","sheetType":"str","rows":"A,B","rowsType":"str","cols":"A,B","colsType":"str","region":"A1:B2","regionType":"str","asjson":true,"asis":"false","useLabel":"false","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":347,"y":188,"wires":[["4f3fb8ed.06ef38"]]},{"id":"5a2ec28a.efbf7c","type":"inject","z":"7bf56954.031d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":134,"y":150,"wires":[["9eaf6b21.fb2aa8"]]},{"id":"4f3fb8ed.06ef38","type":"debug","z":"7bf56954.031d98","name":"","active":true,"console":"false","complete":"false","x":527,"y":152,"wires":[]},{"id":"570f48f3.4781d8","type":"read-excel","z":"7bf56954.031d98","name":"Read Columns - out JSON","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"cols","sheet":"Sheet1","sheetType":"str","rows":"1,3","rowsType":"str","cols":"A,B","colsType":"str","region":"A1:B2","regionType":"str","asjson":true,"asis":"false","useLabel":"false","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":352,"y":247,"wires":[["39abb449.6187ac"]]},{"id":"3076b251.9ded0e","type":"inject","z":"7bf56954.031d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":129,"y":209,"wires":[["570f48f3.4781d8"]]},{"id":"39abb449.6187ac","type":"debug","z":"7bf56954.031d98","name":"","active":true,"console":"false","complete":"false","x":553,"y":214,"wires":[]},{"id":"4845ca7e.99c674","type":"read-excel","z":"7bf56954.031d98","name":"Read Columns - out JSON use column labels","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"cols","sheet":"Sheet1","sheetType":"str","rows":"1","rowsType":"str","cols":"A,B","colsType":"str","region":"A1:B2","regionType":"str","asjson":true,"asis":"false","useLabel":"true","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":398,"y":307,"wires":[["8914efe9.ca994"]]},{"id":"c5ee719c.5fe7","type":"inject","z":"7bf56954.031d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125,"y":269,"wires":[["4845ca7e.99c674"]]},{"id":"8914efe9.ca994","type":"debug","z":"7bf56954.031d98","name":"","active":true,"console":"false","complete":"false","x":652,"y":275,"wires":[]},{"id":"6157d53b.b006fc","type":"read-excel","z":"7bf56954.031d98","name":"Read Columns - out JSON, remove empty rows","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"cols","sheet":"Sheet1","sheetType":"str","rows":"1,3","rowsType":"str","cols":"A,B","colsType":"str","region":"A1:B2","regionType":"str","asjson":true,"asis":"false","useLabel":"false","removeEmpty":"true","store":"","storeType":"nul","timeout":3000,"x":406,"y":366,"wires":[["8996dfbc.288fe"]]},{"id":"46fb7f3c.44248","type":"inject","z":"7bf56954.031d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123,"y":328,"wires":[["6157d53b.b006fc"]]},{"id":"8996dfbc.288fe","type":"debug","z":"7bf56954.031d98","name":"","active":true,"console":"false","complete":"false","x":671,"y":333,"wires":[]},{"id":"615ad63a.25dae8","type":"read-excel","z":"7bf56954.031d98","name":"Read Columns - out ASIS","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"cols","sheet":"Sheet1","sheetType":"str","rows":"1,3","rowsType":"str","cols":"A,B","colsType":"str","region":"A1:B2","regionType":"str","asjson":false,"asis":"true","useLabel":"false","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":343,"y":453,"wires":[["1644065b.34ae2a"]]},{"id":"e3e3bd79.a720f","type":"inject","z":"7bf56954.031d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131,"y":415,"wires":[["615ad63a.25dae8"]]},{"id":"1644065b.34ae2a","type":"debug","z":"7bf56954.031d98","name":"","active":true,"console":"false","complete":"false","x":519,"y":419,"wires":[]},{"id":"f27ccb84.60f238","type":"read-excel","z":"464888ac.c54268","name":"Read Column Region","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"region","sheet":"Sheet1","sheetType":"str","rows":"1","rowsType":"str","cols":"A","colsType":"str","region":"A:B","regionType":"str","asjson":true,"asis":"false","useLabel":"false","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":377,"y":124,"wires":[["8bd3f4e6.400b58"]]},{"id":"6a66b8a.70b1048","type":"inject","z":"464888ac.c54268","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":171,"y":81,"wires":[["f27ccb84.60f238"]]},{"id":"8bd3f4e6.400b58","type":"debug","z":"464888ac.c54268","name":"","active":true,"console":"false","complete":"false","x":592,"y":83,"wires":[]},{"id":"fae620eb.4c87c","type":"read-excel","z":"464888ac.c54268","name":"Read Single Row Region","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"region","sheet":"Sheet1","sheetType":"str","rows":"A,B","rowsType":"str","cols":"A,B","colsType":"str","region":"2:4","regionType":"str","asjson":true,"asis":"false","useLabel":"false","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":384,"y":185,"wires":[["57f2a85.8e30858"]]},{"id":"56a0980c.016ae8","type":"inject","z":"464888ac.c54268","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":146,"wires":[["fae620eb.4c87c"]]},{"id":"57f2a85.8e30858","type":"debug","z":"464888ac.c54268","name":"","active":true,"console":"false","complete":"false","x":591,"y":145,"wires":[]},{"id":"4c75f737.2e93f8","type":"read-excel","z":"464888ac.c54268","name":"Read Region","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"region","sheet":"Sheet1","sheetType":"str","rows":"1,3","rowsType":"str","cols":"A1:B4","colsType":"str","region":"A1:B4","regionType":"str","asjson":true,"asis":"false","useLabel":"false","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":347,"y":245,"wires":[["9533a0e3.4d16f"]]},{"id":"9a7130c7.5cea4","type":"inject","z":"464888ac.c54268","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":171,"y":207,"wires":[["4c75f737.2e93f8"]]},{"id":"9533a0e3.4d16f","type":"debug","z":"464888ac.c54268","name":"","active":true,"console":"false","complete":"false","x":595,"y":212,"wires":[]},{"id":"2299f850.7b2d68","type":"read-excel","z":"464888ac.c54268","name":"Read Region - use column labels","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"region","sheet":"Sheet1","sheetType":"str","rows":"1,3","rowsType":"str","cols":"A1:B4","colsType":"str","region":"A1:B4","regionType":"str","asjson":true,"asis":"false","useLabel":"true","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":419,"y":305,"wires":[["7452ccf9.3caaa4"]]},{"id":"13cceef8.7d1c91","type":"inject","z":"464888ac.c54268","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":271,"wires":[["2299f850.7b2d68"]]},{"id":"7452ccf9.3caaa4","type":"debug","z":"464888ac.c54268","name":"","active":true,"console":"false","complete":"false","x":667,"y":279,"wires":[]},{"id":"2e951b6b.901094","type":"read-excel","z":"464888ac.c54268","name":"Read Region","location":"C:\\dev\\code\\sandbox\\tmp\\mybook.xlsx","locationType":"str","mode":"region","sheet":"Sheet1","sheetType":"str","rows":"1,3","rowsType":"str","cols":"A1:B4","colsType":"str","region":"A1:B4","regionType":"str","asjson":false,"asis":"true","useLabel":"true","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":351,"y":370,"wires":[["e9a89f27.b7ce2"]]},{"id":"7cb4707d.fe4e5","type":"inject","z":"464888ac.c54268","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":176,"y":348,"wires":[["2e951b6b.901094"]]},{"id":"e9a89f27.b7ce2","type":"debug","z":"464888ac.c54268","name":"","active":true,"console":"false","complete":"false","x":600,"y":353,"wires":[]},{"id":"86c1b471.358608","type":"write-excel","z":"9b9650a0.69107","name":"Write Single Row","location":"Z:\\tmpShare\\one2.xlsx","locationType":"str","mode":"cols","sheet":"Sheet1","sheetType":"str","rows":"1,3,5","rowsType":"str","cols":"A,C,D,E","colsType":"str","region":"A1:B2","regionType":"str","contents":"NewData","contentsType":"flow","timeout":3000,"x":310,"y":160,"wires":[["56fd90b7.f5caf"]]},{"id":"67d0a097.0b508","type":"inject","z":"9b9650a0.69107","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":113,"y":98,"wires":[["96d33449.479cc8"]]},{"id":"56fd90b7.f5caf","type":"debug","z":"9b9650a0.69107","name":"","active":true,"console":"false","complete":"true","x":459,"y":100,"wires":[]},{"id":"21c45b3.1b5aba4","type":"catch","z":"9b9650a0.69107","name":"","scope":null,"x":219,"y":256,"wires":[["55d498ca.ef1c18"]]},{"id":"55d498ca.ef1c18","type":"debug","z":"9b9650a0.69107","name":"","active":true,"console":"false","complete":"true","x":401,"y":307,"wires":[]},{"id":"8191d25d.16c22","type":"inject","z":"ec713e04.229cc","name":"Start Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":130,"wires":[["ddaa45b0.366d88"]]},{"id":"fb85bc5a.6ecbf","type":"read-excel","z":"ec713e04.229cc","name":"","location":"excelFileName","locationType":"global","mode":"full","sheet":"Sheet1","sheetType":"str","rows":"1","rowsType":"str","cols":"A","colsType":"str","region":"A1:B2","regionType":"str","asjson":true,"asis":"false","useLabel":"false","removeEmpty":"false","store":"","storeType":"nul","timeout":3000,"x":361,"y":101,"wires":[["3cf08882.3129a8"]]},{"id":"3cf08882.3129a8","type":"write-excel","z":"ec713e04.229cc","name":"","location":"","locationType":"str","mode":"full","sheet":"Sheet1","sheetType":"str","rows":"1","rowsType":"str","cols":"A","colsType":"str","region":"A1:B2","regionType":"str","contents":"","contentsType":"str","timeout":3000,"x":527,"y":174,"wires":[[]]},{"id":"ddaa45b0.366d88","type":"function","z":"ec713e04.229cc","name":"Set Variable to Global Context","func":"var fileName = global.get(\"excelFileName\");\nif(fileName===undefined){\n    fileName = \"Z:\\\\tmpShare\\\\VariableTestSheet.xlsx\"\n}\nglobal.set('excelFileName',fileName);\nreturn msg;","outputs":1,"noerr":0,"x":252,"y":273,"wires":[["50168c9f.65b724"]]},{"id":"50168c9f.65b724","type":"function","z":"ec713e04.229cc","name":"","func":"var fN =  global.get('excelFileName');\nconsole.log(fN);\nnode.log(fN);\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":185,"wires":[["fb85bc5a.6ecbf"]]},{"id":"96d33449.479cc8","type":"function","z":"9b9650a0.69107","name":"","func":"msg.payload = [[1,2,3],[\"XAmple\",2,\"\"],[\"25/12/2011\",\"\",\"Test\"]];\nflow.set('NewData', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["86c1b471.358608"]]}]